@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap%27');

/*Variable*/
:root {
  --primary: #2ebdbd; /*accents*/
  --secondary: white; /*background colour*/
  --third: black; /*text colours and 20%*/
  --fourth: #537c8e; /*darker accent*/
  --fifth: #E1D9D1; /*darker background*/
}

/*Reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nanum Myeongjo";
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
html {
  position: relative;
  background-color: var(--secondary);
  color: var(--third);
  z-index: -2;
  
}

/* base styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
/* Mobile styles */

.navBar li {
  list-style: none;
}
li a {
  color: var(--third);
  text-decoration: none;
  transition: ease-in 0.2s;
}
li a:hover {
  color: var(--primary);
}
a {
  text-decoration: none;
  color: var(--third);
}

.line {
  width: 30px;
  height: 3px;
  background: var(--third);
  margin: 5px;
}
.hamburger {
  position: fixed;
  margin-top: 20px;
  cursor: pointer;
  right: 5%;
  z-index: 4;
}
.name {
  position: fixed;
  color: var(--primary);
  width: 8em;
  font-size: 1.5em;
  margin: 20px 20px;
  animation: name 5s ease-in-out reverse;
  cursor: pointer;
  z-index: 4;
}

.navBar {
  position: fixed;
  width: 100%;
  justify-items: center;
  align-self: center;
  z-index: -3;
  transition: all 2s ease-out;
}
.navBar.under {
  position: fixed;
  z-index: 3;
  width: 100%;
  justify-items: center;
  align-self: center;
  transition: all 1s ease-out;
}

.nav_links_container {
  position: relative;
  z-index: -2;
  background-color: var(--fifth);
  height: 100vh;
  width: 100%;
  grid-column: 1/9;
  align-items: center;
  justify-items: center;
  align-items: center;
  clip-path: circle(100px at 105% -15%);
  -webkit-clip-path: circle(100px at 105% -15%);
  transition: all 1s ease-out;
  pointer-events: none;
}
.nav_links_container.open {
  position: relative;
  z-index: 3;
  clip-path: circle(1250px at 90% -10%);
  -webkit-clip-path: circle(1250px at 90% -10%);
  pointer-events: all;
}

.nav_links_container li:nth-child(1) {
  grid-column: 1/9;
}
.nav_links_container li:nth-child(2) {
  grid-column: 1/9;
}
.nav_links_container li:nth-child(3) {
  grid-column: 1/9;
}

.contactButton {
  border: none;
  grid-column: 1/9;
  justify-self: center;
  height: 3em;
  width: 10em;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--primary);
  transition: 0.2s ease-in;
}
.contactButton a {
  color: var(--third);
}
.contactButton:hover {
  color: var(--secondary);
  background-color: var(--fourth);
}

.bold {
  color: var(--primary);
}
.hiddenLinks:hover {
  color: lightskyblue;
}
/*responsive nav bar*/
@media screen and (min-width: 856px) {
  .navBar {
    position: absolute;
    width: 100%;
    color: var(--third);
    display: grid;
    background-color: var(--secondary);
    justify-items: center;
    align-self: center;
   z-index: 2;
  }
  .navBar.under {
    position: absolute;
    z-index: 1;
  }
  .hamburger {
    display: none;
  }
  .nav_links_container {
    height: 60px;
    grid-column: 1/9;
    align-items: center;
    justify-items: center;
    align-items: center;
    clip-path: none;
    transition: all 1s ease-out;
    pointer-events: all;
  }
  .nav_links_container.open {
    clip-path: none;
  }

  .nav_links_container li:nth-child(1) {
    grid-column: 3/4;
  }
  .nav_links_container li:nth-child(2) {
    grid-column: 4/6;
  }
  .nav_links_container li:nth-child(3) {
    grid-column: 6/7;
  }

  .contactButton {
    grid-column: 8/9;
    margin-right: 15px;
  }

  
}

/*Testing*/

section {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
}
section h1 {
  color: var(--primary)
}





/* small tablet sizes */
@media screen and (min-width: 600px) {
}
/*Laptop*/
@media screen and (min-width: 820px) {
  /*Nav bar*/
  

/*Desktop*/
@media screen and (min-width: 1180px) {
}

/*Ultra-wide*/
@media screen and (min-width: 1500px) {
}
