@import url("/variables.css");

/*Nav Bar*/
.aboutMeLink {
  padding: 10px 10px;
  border-bottom: var(--fifth) 3px solid;
  cursor: default;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

section p {
  width: min(600px, 100%);
  padding: 20px;
}
