/*Variable*/
:root {
  --primary: black; /*accents*/
  --secondary: #a9a9a9; /*background colour*/
  --third: #656565; /*text colours and 20%*/
  --fourth: #9e9f9f; /*darker accent*/
  --fifth: white; /*darker background*/
}
/*Nav Bar*/
.aboutMeLink {
  padding: 10px 10px;
  border-bottom: var(--fifth) 3px solid;
  cursor: default;
}

section {
  width: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}
